.button-65 {
    /* Existing styles */
    appearance: none;
    backface-visibility: hidden;
    background-color: #006737;
    border-style: none;
    border-radius: .5rem;
    box-shadow: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    //Setting font-family left
    font-size: 14px;
    font-weight: 800;
    height: auto;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
    height: auto;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  
  .button-65:hover {
    background-color: #00a256;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .2s;
  }
  
  .button-65:hover:after {
    opacity: .5;
  }
  
  .button-65:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
  }
  
  .button-65:active:after {
    opacity: 1;
  }
  

  @media (max-width: 991.98px) {
    .button-65 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

